{% extends 'body.html' %}
{% block content %}
    <div class="content-wrapper">
        {% block form %}

        {% endblock %}
        <!-- Aqui va toda la info del main -->
        <section class="content">
            <div class="container">
                <form method="post" action=".">
                    <div class="card card-outline card-primary">
                        <div class="card-header">
                            <h3 class="card-title">{{ title }}</h3>
                        </div>
                        <div class="card-body">
                            {% csrf_token %}
                            {% for field in form.visible_fields %}
                                <div class="form-group">
                                    <label for="exampleInputEmail1">{{ field.label }}:</label>
                                    {{ field }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>

{% endblock %}