{% extends 'body.html' %}
{% load static %}
{% block content %}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">categorias</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="{% url 'addCat' %}}">Categorias</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'categorias' %}}">Categorias creadas</a></li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
        </div>
        <!-- Aqui va toda la info del main -->
        <section class="content">
            <div class="container">
                        {% include 'list_categorias.html' %}
            </div>
        </section>
    </div>
{% endblock %}