{% extends 'body.html' %}
{% load static %}
{% block content %}
    {% block head %}
        <!-- Highchairs -->
        <script src="{% static 'lib/highcharts-9.2.1/highcharts.js' %}"></script>
        <script src="{% static 'lib/highcharts-9.2.1/modules/exporting.js' %}"></script>
        <script src="{% static 'lib/highcharts-9.2.1/modules/export-data.js' %}"></script>
        <script src="{% static 'lib/highcharts-9.2.1/modules/accessibility.js' %}"></script>
    {% endblock %}
    <div class="content-wrapper" style="min-height: 1502px;">
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Informes</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'informes' %}">Informes</a></li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-->
            <!-- Aqui va toda la info del main -->
            <div class="content">
                <div class="container">
                    <div class="card-header d-flex p-0">
                        <h3 class="card-title p-3">Gráficos</h3>
                        <ul class="nav nav-pills ml-auto p-2">
                            <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">Gastos</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">Presupuesto</a></li>
                        </ul>
                    </div>
                    <!-- /.card-header -->
                    {% include 'informes_gastos.html' %}
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div><!-- /.content-wrapper -->
{% endblock %}