{% extends 'list.html' %}
{% block columns %}
    <tr>
        <th>Categoria</th>
        <th>Cantidad</th>
        <th>Fecha</th>
        <th>Editar</th>
    </tr>
{% endblock %}
{% block rows %}

    {% for c in object_list %}
        <tr>
            <td>{{ c.category }}</td>
            <td>{{ c.amount }}</td>
            <td>{{ c.date }}</td>
            <td>
                <a href="{% url 'editPre' c.id %}" class="btn btn-info btn-xs"><i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'deletePre' c.id %}" class="btn btn-danger btn-xs"><i
                        class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {% endfor %}

{% endblock %}