{% extends 'body.html' %}
{% load static %}
{% block content %}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Presupuesto</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="{% url 'presupuesto' %}">Presupuesto</a></li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
        </div>
        <!-- Aqui va toda la info del main -->
        <section class="content">
            <div class="container">
                <div class="row">
                    <!-- left column -->
                    <div class="col-12 col-sm-12 col-lg-6">
                        <div class="card card-yellow">
                            <div class="card-header">
                                <h5 class="text-center">¡Dale click en este boton para ingresar un nuevo
                                    presupuesto!</h5>
                                <a href="{% url 'addPre' %}">
                                    <button type="button" class="btn btn-outline-light btn-block btn-sm"><i
                                            class="fa fa-plus"></i> INGRESAR PRESUPUESTO
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="card card-dark">
                            <div class="card-header">
                                <h3 class="card-title">Grafico de presupuesto</h3>
                            </div>
                            <div class="card-body">
                                <figure>
                                    <div id="container-presupuesto"></div>
                                </figure>
                            </div>
                        </div>
                    </div>
                    {% block head %}
                        <!-- Highchairs -->
                        <script src="{% static 'lib/highcharts-9.2.1/highcharts.js' %}"></script>
                        <script src="{% static 'lib/highcharts-9.2.1/modules/exporting.js' %}"></script>
                        <script src="{% static 'lib/highcharts-9.2.1/modules/export-data.js' %}"></script>
                        <script src="{% static 'lib/highcharts-9.2.1/modules/accessibility.js' %}"></script>
                    {% endblock %}
                    <!-- ./left column -->
                    <div class="col-12 col-sm-12 col-lg-6"> <!--col right-->
                        {% include 'list_presupuesto.html' %}
                    </div><!--./col right-->
                </div><!-- ./row -->
            </div>
        </section>
    </div>
    <script type="application/javascript">
        var graphcolumn = Highcharts.chart('container-presupuesto', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Grafico Presupuesto'
            },
            xAxis: {
                categories: [
                    'Domingo',
                    'Lunes',
                    'Martes',
                    'Miercoles',
                    'Jueves',
                    'Viernes',
                    'Sabado',
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} $</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
        });

        function obtener_reporte_presupuesto_sem() {
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: {
                    'action': 'obtener_reporte_presupuesto_sem'
                },
                dataType: 'json',
            }).done(function (data) {
                if (!data.hasOwnProperty('error')) {
                    graphcolumn.addSeries({
                        name: 'Ingresos',
                        showInLegend: false,
                        colorByPoint: true,
                        data: data
                    });
                    return false;
                }
                message_error(data.error);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {

            });
        }

        $(function () {
            obtener_reporte_presupuesto_sem();
        });
    </script>
{% endblock %}
