{%  extends 'body.html' %}
{% load static %}
{% block content %}
 <div class="content-wrapper" style="min-height: 1501.62px;">
    <div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Inicio</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url "index" %}">Inicio</a></li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-->
</div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-12">
                  <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                      <h3>Presupuesto</h3>
                      <p>Fije un presupuesto para cada cosa.</p>
                    </div>
                    <div class="icon">
                      <i class="nav-icon fas fa-dollar-sign"></i>
                    </div>
                    <a href="{% url "presupuesto" %}" class="small-box-footer">Más información <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-sm-6 col-12">
                  <!-- small box -->
                  <div class="small-box bg-success">
                    <div class="inner">
                      <h3>Metas</h3>
                      <p>Establezca metas que quiera cumplir.</p>
                    </div>
                    <div class="icon">
                      <i class="nav-icon fas fa-search-dollar"></i>
                    </div>
                    <a href="{% url "metas" %}" class="small-box-footer">Más información <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-sm-6 col-12">
                  <!-- small box -->
                  <div class="small-box bg-warning">
                    <div class="inner">
                      <h3>Gastos</h3>
                      <p>Tenga un control de sus gastos.</p>
                    </div>
                    <div class="icon">
                      <i class="nav-icon fas fa-money-bill-wave"></i>
                    </div>
                    <a href="{% url "gastos" %}" class="small-box-footer">Más información <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-sm-6 col-12">
                  <!-- small box -->
                  <div class="small-box bg-danger">
                    <div class="inner">
                      <h3>Informes</h3>
                      <p>Observe su balance financiero.</p>
                    </div>
                    <div class="icon">
                      <i class="nav-icon fas fa-receipt"></i>
                    </div>
                    <a href="informes.html" class="small-box-footer">Más información <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <!-- ./col -->
              </div>
            <div class="card-outline border-warning card-primary bg-light">
                <h2 class="card-header text-center">¿Quieres tener un control total de tus finanzas?</h2>
                <div class="row">
                    <!-- DESCRIPTION IMAGE -->
                    <div class="card-body col-md-6 justify-content-center align-items-center" style="display: flex">
                      <div>
                        <img src="{% static 'img/aplicacionfinanza.svg' %}" alt="Finanza">
                      </div>
                  </div>
                  <!-- DESCRIPTION TEXT -->
                    <div class="card-body col-md-6">
                      <div class="about-text">
                          <p class="text-justify">Con More or Less tú puedes tener un control estricto de tus finanzas. Te permite no apartarte de tu presupuesto o al menos tener un ajustado control de los desvíos. Ya no es necesario utilizar planillas adicionales de gastos. Empieza hoy a administrar tu economia con la mejor aplicación de finanzas personales disponible. More or Less es un gestor de finanzas que puedes utilizar para monitorear tus gastos, ingresos y crear el plan de presupuesto perfecto. Controlar tus gastos nunca fue tan fácil. Con More or Less tú puedes hacer todo esto en cualquier momento y desde cualquier lugar.</p>
                      </div>
                      <div class="info-box bg-gradient-white">
                          <span class="info-box-icon"><i class="nav-icon fas fa-balance-scale"></i></span>
                          <div class="info-box-content">
                            <h4 class="info-box-number">Todas tus finanzas en un solo lugar</h4>
                            <p>Puedes crear presupuestos, cuentas, ordenar tus gastos, sueños y tarjetas de crédito en un solo lugar.</p>
                          </div>
                      </div>
                      <div class="info-box bg-gradient-white">
                          <span class="info-box-icon"><i class="nav-icon fas fa-piggy-bank"></i></span>
                          <div class="info-box-content">
                            <h4 class="info-box-number">¿A dónde va tu dinero?</h4>
                            <p>Mantener el control de tus finanzas y utilizar el dinero para ayudar a lograr tus metas es posible.</p>
                          </div>
                      </div>
                      <div class="info-box bg-gradient-white">
                          <span class="info-box-icon"><i class="nav-icon fas fa-coins"></i></span>
                          <div class="info-box-content">
                            <h4 class="info-box-number">Cumplir con tu presupuesto</h4>
                            <p>Crea presupuestos y haz un plan para gastar con sabiduría. Sepa cuánto tiene que gastar para no desviar de tu meta.</p>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}