{% extends 'body.html' %}
{% load static %}
{% block content %}
    <div class="content-wrapper" style="min-height: 1501.62px;">
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Inicio</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-->
            <!-- Aqui va toda la info del main -->
            <div class="content">
                <div class="container">
                    <div class="card-header d-flex p-0">
                        <h3 class="card-title p-3">Gráficos</h3>
                        <ul class="nav nav-pills ml-auto p-2">
                            <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">Semanal</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">Mensual</a></li>
                            <li class="nav-item"><a class="nav-link" href="#tab_3" data-toggle="tab">Anual</a></li>
                        </ul>
                    </div>
                    <!-- /.card-header -->


                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                                <section class="content">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <!-- DONUT CHART -->
                                            <div class="card-dark col-12">
                                                <div class="card-header col-12">
                                                    <div class="card-header d-flex p-0">
                                                        <h3 class="card-title p-3">Meses</h3>
                                                        <ul class="nav nav-pills ml-auto p-2">
                                                            <li class="nav-item"><a class="nav-link active"
                                                                                    href="#junio" data-toggle="tab">Junio</a>
                                                            </li>
                                                            <li class="nav-item"><a class="nav-link" href="#"
                                                                                    data-toggle="tab">Julio</a></li>
                                                            <li class="nav-item"><a class="nav-link" href="#"
                                                                                    data-toggle="tab">Agosto</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!-- /.card-header -->
                                                <div class="card-body">
                                                    <!-- Main content -->
                                                    <section class="content" id="junio">
                                                        <div class="container-fluid">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <!-- AREA CHART -->
                                                                    <div class="card card-primary">
                                                                        <div class="card-header">
                                                                            <h3 class="card-title">Semana #1</h3>
                                                                        </div>
                                                                        <div class="card-body">
                                                                            <table class="table table-responsive">
                                                                                <tr>
                                                                                    <th>Dom.</th>
                                                                                    <th>Lun.</th>
                                                                                    <th>Mar.</th>
                                                                                    <th>Mié.</th>
                                                                                    <th>Jue.</th>
                                                                                    <th>Vie.</th>
                                                                                    <th>Sáb.</th>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    <td>1</td>
                                                                                    <td>2</td>
                                                                                    <td>3</td>
                                                                                    <td>4</td>
                                                                                    <td>5</td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                        <!-- /.card-body -->
                                                                        <div class="card-body">
                                                                            <div class="chart">
                                                                                <div class="chartjs-size-monitor">
                                                                                    <div class="chartjs-size-monitor-expand">
                                                                                        <div class=""></div>
                                                                                    </div>
                                                                                    <div class="chartjs-size-monitor-shrink">
                                                                                        <div class=""></div>
                                                                                    </div>
                                                                                </div>
                                                                                <figure><img
                                                                                        src="{% static "img/febrero.png" %}"
                                                                                        width="100%" alt=""></figure>
                                                                            </div>
                                                                            <div class="card">
                                                                                <div class="card-header">
                                                                                    <h3 class="card-title">Resumen</h3>
                                                                                </div>
                                                                                <!-- /.card-header -->
                                                                                <div class="card-body">
                                                                                    <table class="table table-responsive">
                                                                                        <tr>
                                                                                            <th>Ingresos</th>
                                                                                            <td style="color: green;">
                                                                                                $1'200.000
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th>Gastos</th>
                                                                                            <td style="color: red;">
                                                                                                -$900.000
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th>Total</th>
                                                                                            <td>$300.000</td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        <!-- /.card-body -->
                                                                    </div>
                                                                    <!-- /.card -->
                                                                </div>
                                                                <!-- /.col (LEFT) -->
                                                                <div class="col-md-6">
                                                                    <div class="card card-success">
                                                                        <div class="card-header">
                                                                            <h3 class="card-title">Semana #2</h3>
                                                                        </div>

                                                                        <div class="card-body">
                                                                            <table class="table table-responsive">
                                                                                <tr>
                                                                                    <th>Dom.</th>
                                                                                    <th>Lun.</th>
                                                                                    <th>Mar.</th>
                                                                                    <th>Mié.</th>
                                                                                    <th>Jue.</th>
                                                                                    <th>Vie.</th>
                                                                                    <th>Sáb.</th>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>20</td>
                                                                                    <td>21</td>
                                                                                    <td>22</td>
                                                                                    <td>23</td>
                                                                                    <td>24</td>
                                                                                    <td>25</td>
                                                                                    <td>26</td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>

                                                                        <div class="card-body">
                                                                            <div class="chart">
                                                                                <div class="chartjs-size-monitor">
                                                                                    <div class="chartjs-size-monitor-expand">
                                                                                        <div class=""></div>
                                                                                    </div>
                                                                                    <div class="chartjs-size-monitor-shrink">
                                                                                        <div class=""></div>
                                                                                    </div>
                                                                                </div>
                                                                                <figure><img
                                                                                        src="{% static "img/febrero.png" %}"
                                                                                        width="100%" alt=""></figure>
                                                                            </div>

                                                                            <div class="card">
                                                                                <div class="card-header">
                                                                                    <h3 class="card-title">Resumen</h3>
                                                                                </div>
                                                                                <!-- /.card-header -->
                                                                                <div class="card-body">
                                                                                    <table class="table table-responsive">
                                                                                        <tr>
                                                                                            <th>Ingresos</th>
                                                                                            <td style="color: green;">
                                                                                                $1'200.000
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th>Gastos</th>
                                                                                            <td style="color: red;">
                                                                                                -$900.000
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th>Total</th>
                                                                                            <td>$300.000</td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        <!-- /.card-body -->
                                                                    </div>
                                                                    <!-- /.card -->
                                                                </div>
                                                                <!-- /.col (RIGHT) -->
                                                            </div>
                                                            <!-- /.row -->
                                                        </div>
                                                        <!-- /.container-fluid -->
                                                    </section>
                                                    <!-- /.content -->
                                                </div>
                                                <!-- /.card-body -->
                                            </div>
                                            <!-- /.card -->
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                    <!-- /.container-fluid -->
                                </section>
                                <!-- /.content -->
                            </div>
                            <!-- /.tab-pane -->


                            <div class="tab-pane" id="tab_2">
                                <!-- Main content -->
                                <section class="content">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <!-- AREA CHART -->
                                                <div class="card card-primary">
                                                    <div class="card-header">
                                                        <h3 class="card-title">Junio</h3>
                                                    </div>
                                                    <!-- /.card-header -->
                                                    <div class="card-body">
                                                        <div class="chart">
                                                            <div class="chartjs-size-monitor">
                                                                <div class="chartjs-size-monitor-expand">
                                                                    <div class=""></div>
                                                                </div>
                                                                <div class="chartjs-size-monitor-shrink">
                                                                    <div class=""></div>
                                                                </div>
                                                            </div>
                                                            <figure><img src="./img/junio.png" width="100%" alt="">
                                                            </figure>
                                                        </div>

                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h3 class="card-title">Resumen</h3>
                                                            </div>
                                                            <!-- /.card-header -->
                                                            <div class="card-body">
                                                                <table class="table table-bordered">
                                                                    <tr>
                                                                        <th>Ingresos</th>
                                                                        <td style="color: green;">$ 1'200.000</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Gastos</th>
                                                                        <td style="color: red;">-$ 900.000</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Total</th>
                                                                        <td>$ 300.000</td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <!-- /.card-body -->
                                                </div>
                                                <!-- /.card -->

                                                <!-- DONUT CHART -->
                                                <div class="card card-danger">
                                                    <div class="card-header">
                                                        <h3 class="card-title">Mayo</h3>
                                                    </div>
                                                    <!-- /.card-header -->
                                                    <div class="card-body">
                                                        <div class="chartjs-size-monitor">
                                                            <div class="chartjs-size-monitor-expand">
                                                                <div class=""></div>
                                                            </div>
                                                            <div class="chartjs-size-monitor-shrink">
                                                                <div class=""></div>
                                                            </div>
                                                        </div>
                                                        <figure><img src="./img/mayo.png" width="100%" alt=""></figure>

                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h3 class="card-title">Resumen</h3>
                                                            </div>
                                                            <!-- /.card-header -->
                                                            <div class="card-body">
                                                                <table class="table table-bordered">
                                                                    <tr>
                                                                        <th>Ingresos</th>
                                                                        <td style="color: green;">$ 1'200.000</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Gastos</th>
                                                                        <td style="color: red;">-$ 900.000</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Total</th>
                                                                        <td>$ 300.000</td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <!-- /.card-body -->
                                                </div>
                                                <!-- /.card -->

                                                <!-- PIE CHART -->
                                                <div class="card card-danger">
                                                    <div class="card-header">
                                                        <h3 class="card-title">Abril</h3>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="chartjs-size-monitor">
                                                            <div class="chartjs-size-monitor-expand">
                                                                <div class=""></div>
                                                            </div>
                                                            <div class="chartjs-size-monitor-shrink">
                                                                <div class=""></div>
                                                            </div>
                                                        </div>
                                                        <figure><img src="{% static 'img/abril.png' %}" width="100%"
                                                                     alt=""></figure>

                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h3 class="card-title">Resumen</h3>
                                                            </div>
                                                            <!-- /.card-header -->
                                                            <div class="card-body">
                                                                <table class="table table-bordered">
                                                                    <tr>
                                                                        <th>Ingresos</th>
                                                                        <td style="color: green;">$ 1'200.000</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Gastos</th>
                                                                        <td style="color: red;">-$ 900.000</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Total</th>
                                                                        <td>$ 300.000</td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <!-- /.card-body -->
                                                </div>
                                                <!-- /.card -->

                                            </div>
                                            <!-- /.col (LEFT) -->


                                            <div class="col-md-6">
                                                <!-- LINE CHART -->
                                                <div class="card card-info">
                                                    <div class="card-header">
                                                        <h3 class="card-title">Marzo</h3>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="chart">
                                                            <div class="chartjs-size-monitor">
                                                                <div class="chartjs-size-monitor-expand">
                                                                    <div class=""></div>
                                                                </div>
                                                                <div class="chartjs-size-monitor-shrink">
                                                                    <div class=""></div>
                                                                </div>
                                                            </div>
                                                            <figure><img src="./img/marzo.png" width="100%" alt="">
                                                            </figure>
                                                        </div>

                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h3 class="card-title">Resumen</h3>
                                                            </div>
                                                            <!-- /.card-header -->
                                                            <div class="card-body">
                                                                <table class="table table-bordered">
                                                                    <tr>
                                                                        <th>Ingresos</th>
                                                                        <td style="color: green;">$ 1'200.000</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Gastos</th>
                                                                        <td style="color: red;">-$ 900.000</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Total</th>
                                                                        <td>$ 300.000</td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <!-- /.card-body -->
                                                </div>
                                                <!-- /.card -->

                                                <!-- BAR CHART -->
                                                <div class="card card-success">
                                                    <div class="card-header">
                                                        <h3 class="card-title">Febrero</h3>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="chart">
                                                            <div class="chartjs-size-monitor">
                                                                <div class="chartjs-size-monitor-expand">
                                                                    <div class=""></div>
                                                                </div>
                                                                <div class="chartjs-size-monitor-shrink">
                                                                    <div class=""></div>
                                                                </div>
                                                            </div>
                                                            <figure><img src="./img/febrero.png" width="100%" alt="">
                                                            </figure>
                                                        </div>

                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h3 class="card-title">Resumen</h3>
                                                            </div>
                                                            <!-- /.card-header -->
                                                            <div class="card-body">
                                                                <table class="table table-bordered">
                                                                    <tr>
                                                                        <th>Ingresos</th>
                                                                        <td style="color: green;">$ 1'200.000</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Gastos</th>
                                                                        <td style="color: red;">-$ 900.000</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Total</th>
                                                                        <td>$ 300.000</td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <!-- /.card-body -->
                                                </div>
                                                <!-- /.card -->

                                                <!-- STACKED BAR CHART -->
                                                <div class="card card-success">
                                                    <div class="card-header">
                                                        <h3 class="card-title">Enero</h3>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="chart">
                                                            <div class="chartjs-size-monitor">
                                                                <div class="chartjs-size-monitor-expand">
                                                                    <div class=""></div>
                                                                </div>
                                                                <div class="chartjs-size-monitor-shrink">
                                                                    <div class=""></div>
                                                                </div>
                                                            </div>
                                                            <figure><img src="./img/enero.png" width="100%" alt="">
                                                            </figure>
                                                        </div>

                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h3 class="card-title">Resumen</h3>
                                                            </div>
                                                            <!-- /.card-header -->
                                                            <div class="card-body">
                                                                <table class="table table-bordered">
                                                                    <tr>
                                                                        <th>Ingresos</th>
                                                                        <td style="color: green;">$ 1'200.000</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Gastos</th>
                                                                        <td style="color: red;">-$ 900.000</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Total</th>
                                                                        <td>$ 300.000</td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <!-- /.card-body -->
                                                </div>
                                                <!-- /.card -->

                                            </div>
                                            <!-- /.col (RIGHT) -->
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                    <!-- /.container-fluid -->
                                </section>
                                <!-- /.content -->
                            </div>
                            <!-- /.tab-pane -->


                            <div class="tab-pane" id="tab_3">
                                <section class="content">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <!-- DONUT CHART -->
                                                <div class="card card-danger">
                                                    <div class="card-header">
                                                        <h3 class="card-title">2021</h3>
                                                    </div>
                                                    <!-- /.card-header -->
                                                    <div class="card-body">
                                                        <div class="chartjs-size-monitor">
                                                            <div class="chartjs-size-monitor-expand">
                                                                <div class=""></div>
                                                            </div>
                                                            <div class="chartjs-size-monitor-shrink">
                                                                <div class=""></div>
                                                            </div>
                                                        </div>
                                                        <figure><img src="./img/enero.png" width="100%" alt=""></figure>

                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h3 class="card-title">Resumen</h3>
                                                            </div>
                                                            <!-- /.card-header -->
                                                            <div class="card-body">
                                                                <table class="table table-bordered">
                                                                    <tr>
                                                                        <th>Ingresos</th>
                                                                        <td style="color: green;">$ 114'000.000
                                                                        </th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Gastos</th>
                                                                        <td style="color: red;">-$ 10'800.000</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Total</th>
                                                                        <td>$ 103'200.000</td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <!-- /.card-body -->
                                                </div>
                                                <!-- /.card -->
                                            </div>
                                            <!-- /.col (LEFT) -->

                                            <div class="col-md-6">
                                                <!-- AREA CHART -->
                                                <div class="card card-primary">
                                                    <div class="card-header">
                                                        <h3 class="card-title">2020</h3>
                                                    </div>
                                                    <!-- /.card-header -->
                                                    <div class="card-body">
                                                        <div class="chart">
                                                            <div class="chartjs-size-monitor">
                                                                <div class="chartjs-size-monitor-expand">
                                                                    <div class=""></div>
                                                                </div>
                                                                <div class="chartjs-size-monitor-shrink">
                                                                    <div class=""></div>
                                                                </div>
                                                            </div>
                                                            <figure><img src="./img/junio.png" width="100%" alt="">
                                                            </figure>
                                                        </div>

                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h3 class="card-title">Resumen</h3>
                                                            </div>
                                                            <!-- /.card-header -->
                                                            <div class="card-body">
                                                                <table class="table table-bordered">
                                                                    <tr>
                                                                        <th>Ingresos</th>
                                                                        <td style="color: green;">$ 144'000.000
                                                                        </th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Gastos</th>
                                                                        <td style="color: red;">-$ 10'800.000</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Total</th>
                                                                        <td>$ 103'200.000</td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.card-body -->
                                                </div>
                                                <!-- /.card -->
                                            </div>
                                            <!-- /.col (RIGHT) -->
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                    <!-- /.container-fluid -->
                                </section>
                                <!-- /.content -->
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div>
                </div>
                <!-- /.card-body -->

            </div>
        </div>
    </div><!-- /.content-wrapper -->
{% endblock %}